$content-offset: -30px;

#page-wrap {
  background-color: $body-bg-color;
  position: relative;
}


// ! Header

header#navbar {
  border: none;
  background-color: $c-white;
  margin-bottom: 0;
  
  .container {
    position: relative;
    height: 210px;
    background: url('../images/swoosh.svg') no-repeat;
    background-position: left 110px;
    background-size: 200%;

    // Larger than xs.
    @media(min-width: $screen-xs) {
      height: 230px;
      background-size: 150%;
    }
  
    // Larger than sm.
    @media(min-width: $screen-sm) {
      height: 255px;
      background-size: 105%;
      background-position: left 110px;
    }
    
    // Larger than md.
    @media(min-width: $screen-md) {
      height: 275px;
    }
  }
  
  .navbar-header {
    padding-left: 1em;
    padding-top: 1em;
    
    // Larger than sm.
    @media(min-width: $screen-sm) {
      padding-left: 2em;
    }

    // Larger than md.
    @media(min-width: $screen-md) {
      padding-left: 3em;
    }
    
    a {
      display: block;
      background: url('../images/btp-logo.svg') no-repeat bottom left;
      background-size: contain;
      width: 185px;
      height: 105px;
      @extend .text-hide;
    }
    
    // Menu toggle.
    .navbar-toggle:not(.collapsed) {
      border-color: $menu-color;
      background-color: $menu-color;
    }
  }
  
  // ! Main menu
  #main-menu {
    background-color: $menu-color;
    border: none;
    position: relative;
    z-index: 999;
    
    &.in {
      top: -68px;
    }
    
    nav {
      li {
        position: relative;
        a {
          color: $menu-text-color;
          
          &:hover,
          &:focus {
            background-color: rgba(255,255,255,0.3);
          }
          
          &.dropdown {
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 25px;
            padding-top: 3px;
            padding-left: 5px;
            background-color: transparent;
            
            &:hover {
              background-color: rgba(255,255,255,0.3);
              
              .caret {
                border-top-color: $c-orange;
              }
            }
          }
        }

        &.active a,
        &.active-trail.dropdown > a {
          color: $c-white;
          background-color: $c-orange;
          
          &.dropdown {
            background-color: transparent;
          }
        }
        
        // Make sure active carets get a hover color. 
        &.active-trail {  
          a.dropdown:hover {
            .caret {
              border-top-color: $menu-text-color;
            }
          }
        }
        
        &.expanded {
          // Make sure sub nav parents have space for the caret.
          a:first-child {
            padding-right: 25px;
          }
          
          ul.dropdown-menu {
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
      
      > ul > li {
        border-bottom: 1px solid $c-white;
      }
    }
    
    // Larger than sm.
    @media(min-width: $screen-sm) {
      background-color: transparent;
      position: absolute;
      bottom: 40px;
      right: 0;
      
      nav {
        padding-top: 1em;
        
        li {
          a {
            padding-top: 5px;
            padding-bottom: 5px; 
            
            &:hover,
            &.hover { // In some circumstances js is adding this class.
              background-color: $menu-color;
            }           
          }
          
          &.open a {
            background-color: $menu-color;
          }

          &.open .dropdown-menu a:hover {            
            background-color: rgba(255,255,255,0.2);
          }
          
          &.active-trail > a,
          a.active {
            background-color: $c-orange;
            color: $c-white !important;
            
            &:hover {
              background-color: rgba(244, 128, 34, 0.9) !important;
            }
          }
          
          &.expanded {
            ul.dropdown-menu {
              background-color: $menu-color;
              
              li {
                border-bottom: 1px solid $c-white;
                
                &:last-child {
                  border: none;
                } 
                
                a {
                  color: $c-teal;
                }
              }
            }
          }
        }
      }
    }
    
    // Between these two sizes we need to adjust the menu to make sure it 
    // doesn't spill over onto two lines and break the layout.
    @media(min-width: $screen-sm) and (max-width: $screen-md) {
      nav {
        li {
          a {
            padding-left: 13px;
            padding-right: 13px;
          }
        }
      }
    }
  }
  
  // ! Search block
  #search-block {
    float: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    // Larger than sm.
    @media(min-width: $screen-sm) {
      bottom: auto;
      left: auto;
      top: 0px;
    }
    
    form {
      padding-top: 2em;
      @extend .col-xs-12;
      @extend .col-sm-6;
      @extend .col-sm-push-6;
      @extend .col-md-3;
      @extend .col-md-push-9;
    }
    
    input {
      border-radius: 0px;
      border-right: none;
      box-shadow: none;
    }
    
    .input-group-btn {
      button {
        border-radius: 0px;
        color: $c-teal;
        padding: 5.9px 12px; // Note that 5.9px fixes a rounding error in FF.
      }
    }
  }
}

// Second level menu block.
.block-menu-block {
  margin-bottom: 2em;

  h2  {
    margin: 0;
    
    a {
      display: block;
      color: $text-color;
      font-size: $font-size-base;
      text-transform: uppercase;
      line-height: $line-height-base;
    }
  }
  
  h2,
  ul.menu li {
    a {
      padding: 10px 20px;
      background-color: $c-white;
      margin-bottom: 3px;
      
      &:hover {
        background-color: $c-orange;
        color: $c-white;
      }
    }
  }
}

// ! Main content
.main-container {
  background-color: $c-white;
    
  // Larger than xs.
  @media(min-width: $screen-sm) {
    position: relative;
    top: $content-offset;
  }
}

// ! Print, Share, PDF
#print-share-pdf {
  @extend %reset-list;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
    
  li {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    font-size: $font-size-base - 2;
    
    &.last {
      margin-right: 0;
    }
    
    &:hover {
      background-color: $sidebar-bg-color;
      
      a, i {
        color: darken($link-color, 10);
      }
    }
    
    span {
      margin-left: 7px;
    }
    
    i {
      color: $link-color;
      font-size: $font-size-base;
      cursor: pointer;
    }
  }
}

// ! Sidebar
$logo-offset: 90px;
#sidebar-second-wrap {  
  // Larger than sm.
  @media(min-width: $screen-sm) {
    // Get rid of the white stripe down the side of the sidebar.
    padding-right: 0;    
  }

  .region-sidebar-second {
    padding: 2em;
    background-color: $sidebar-bg-color;
    height: 100%; // #sidebar-second-wrap height will come from matchHeight js.
  }
  
  .logos {
    width: 100%;
    margin-top: 2em;
    
    ul {
      margin: 0;
      padding: 0;
      @extend .clearfix;
      
      li {
        list-style: none;
        float: left;
        
        &.bixby {
          width: 60%;
          padding-right: 5%;
          margin-right: 5%;
          border-right: 1px solid $text-color;
        }
  
        &.ucsf {
          width: 30%;
        }

        a {
          img {
            width: 100%;
            @extend .img-responsive;
          }
          
          span {
            @extend .sr-only;
          }
        }
      }
    }
  }
}

.view-news {
  position: relative;
  
  .view-content {
    @extend %news-list;
  }
  
  .more-link {
    position: absolute;
    top: -35px;
    right: 0;
  }
}

.not-front .field-collection-item-field-btp-sidebar-callout {
  @extend %quote-style-2;
}

.view-sidebar-callouts {
  .view-content {
    ul {
      @extend %reset-list;
      
      li:first-of-type {
        .field-collection-item-field-btp-sidebar-callout > h2 {
          margin-top: 0;
        }
      }
    }
  }
}


// ! Footer
.region-footer {
  padding-bottom: 2em;
  @extend .row;
  
  #block-ucsftemplate-tweaks-footer-contact {
    @extend .col-xs-12;
    @extend .col-sm-5;
    margin-bottom: 2em;

    h2 {
      font-size: $font-size-base - 2;
      font-weight: 700;
      text-align: center;
      
      // Larger than xs.
      @media(min-width: $screen-sm) {
        margin-top: 0;
        text-align: left;
      }
    }
    
    .footer-contact-address,
    .footer-contact-phonefax {
      float: left;
      width: 50%;
    }
  }
  
  #block-ucsftemplate-tweaks-footer-copyright {
    @extend .col-xs-12;
    @extend .col-sm-4;
    margin-bottom: 2em;
    text-align: center;
    
    // Larger than sm.
    @media(min-width: $screen-sm) {
      text-align: left;
    }
  }
  
  #block-menu-footer {
    @extend .col-xs-12;
    @extend .col-sm-3;
    margin-bottom: 2em;
    
    .nav {
      li {
        text-align: center;
        
        // Larger than sm.
        @media(min-width: $screen-sm) {
          float: left;
          padding-left: 5%;
          text-align: left;
          
          &:first-child {
            padding-right: 5%;
            padding-left: 0;
            border-right: 1px solid $c-white;
          }
        }
        
        a {
          padding: 0;
          background-color: transparent;
          
          &:hover {
            background-color: transparent;
          }
          // Smaller than sm.
          @media(max-width: $screen-sm) {
            display: block;
            padding: 5px;
            margin-bottom: 10px;
            color: $c-white;
            border: 1px solid $c-white;
            border-radius: 5px;
          }          
        }
      }
    }
  }
}

// ! Prebuilt styles
.quote-style-1 {
  @extend %quote-style-1;
}

.news-list {
  @extend %news-list;
}


